# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1.x command line compiler
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output directory
dist/
/backend/dist/
/frontend/dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?
.vscode/

# OS metadata
.DS_Store
Thumbs.db

# Angular cache and workspace
.angular/
.sass-cache/
